-- Criação do banco de dados
CREATE DATABASE app_garantia;

-- Tabela Loja
CREATE TABLE loja (
    id_loja SERIAL PRIMARY KEY,
    nome VARCHAR(100) NOT NULL,
    cnpj VARCHAR(14) UNIQUE,
    contato VARCHAR(100)
);

-- Tabela Equipamento
CREATE TABLE equipamento (
    id_equipamento SERIAL PRIMARY KEY,
    id_loja INTEGER NOT NULL,
    nome VARCHAR(100) NOT NULL,
    modelo VARCHAR(100),
    numero_serie VARCHAR(50) UNIQUE,
    data_compra DATE NOT NULL,
    valor_compra DECIMAL(10,2),
    FOREIGN KEY (id_loja) REFERENCES loja(id_loja) ON DELETE RESTRICT
);

-- Tabela Garantia
CREATE TABLE garantia (
    id_garantia SERIAL PRIMARY KEY,
    id_equipamento INTEGER NOT NULL,
    tipo VARCHAR(20) NOT NULL CHECK (tipo IN ('principal', 'estendida')),
    data_inicio DATE NOT NULL,
    data_fim DATE NOT NULL,
    termos TEXT,
    FOREIGN KEY (id_equipamento) REFERENCES equipamento(id_equipamento) ON DELETE RESTRICT
);
